<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./styles/index.css" />
    <title>Tourist Spots</title>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="#" id="home">Tourist Spot</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" id="create">Criar Tourist Spot</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                  <button class="btn btn-primary" type="submit">Buscar</button>
                </form>
              </div>
            </div>
          </nav>
</header>

<br/>
<div class="container">
<div class="row">
    
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">Aliquam consectetur leo quis turpis tincidunt, consectetur lacinia nisl consequat</p>
          <a href="#" class="btn btn-primary">Detalhes</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lorem ipsum</h5>
          <p class="card-text">Aliquam consectetur leo quis turpis tincidunt, consectetur lacinia nisl consequat</p>
          <a href="#" class="btn btn-primary">Detalhes</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lorem ipsum</h5>
          <p class="card-text">Aliquam consectetur leo quis turpis tincidunt, consectetur lacinia nisl consequat</p>
          <a href="#" class="btn btn-primary">Detalhes</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lorem ipsum</h5>
          <p class="card-text">Aliquam consectetur leo quis turpis tincidunt, consectetur lacinia nisl consequat</p>
          <a href="#" class="btn btn-primary">Detalhes</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Lorem ipsum</h5>
            <p class="card-text">Aliquam consectetur leo quis turpis tincidunt, consectetur lacinia nisl consequat</p>
            <a href="#" class="btn btn-primary">Detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Lorem ipsum</h5>
            <p class="card-text">Aliquam consectetur leo quis turpis tincidunt, consectetur lacinia nisl consequat</p>
            <a href="#" class="btn btn-primary">Detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Lorem ipsum</h5>
            <p class="card-text">Aliquam consectetur leo quis turpis tincidunt, consectetur lacinia nisl consequat</p>
            <a href="#" class="btn btn-primary">Detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Lorem ipsum</h5>
            <p class="card-text">Aliquam consectetur leo quis turpis tincidunt, consectetur lacinia nisl consequat</p>
            <a href="#" class="btn btn-primary">Detalhes</a>
          </div>
        </div>
      </div>
  </div>

  <footer>
    <br/>
    <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
  </footer>
</div>


</body>
</html>